.git
*.log
/.bundle
/.docker
/.env
/.rake_tasks
/.rspec
/.rubocop.yml
/.rubocop_todo.yml
/.simplecov
/.travis.yml
/.vagrant
/CONTRIBUTING.md
/Dockerfile
/Procfile
/README.md
/coverage
/docker-compose.yml
/example_payloads
/examples
/init.rb
/script/build-s3-index-html
/script/docker-build-and-push
/script/handle-docker-config
/script/validate-example-payloads-with-docker
/spec
/tmp
/vendor
