language: ruby

cache:
  bundler: true

dist: trusty

sudo: false

rvm: 2.3.4

env:
  global:
  - COVERAGE=1
  matrix:
  - INTEGRATION_SPECS=0
  - INTEGRATION_SPECS=1

stages:
  - "test"
  - ":ship: it to Quay.io"

jobs:
  allow_failures:
    - script: ./script/docker-build-and-push
    - script: "bundle exec rake update_static_files"
  include:
    - stage: "test"
      sudo: required
      dist: trusty
      env:
      script: ./script/validate-example-payloads-with-docker
    - stage: "test update_static_files Rake task"
      script: "bundle exec rake update_static_files"
    - stage: ":ship: it to Quay.io"
      sudo: required
      dist: trusty
      env:
      script: ./script/docker-build-and-push
      if: (NOT type IN (pull_request)) AND (branch = master)

script:
  - mkdir -p public/files && touch public/files/nvm.sh
  - bundle exec rake lib/travis/build/addons/sauce_connect/sauce_connect.sh spec && ./script/validate-bash-syntax

after_success: bundle exec codeclimate-test-reporter

before_deploy: ruby script/build_s3_index_html.rb

deploy:
  provider: s3
  access_key_id:
    secure: "fXt5NG5UGDvpnRFvUUk9J//iSo+Vh28oEUJvjZqiUZ9GRHp5TrIS5vL4bPlD/1RrJRp7BVVj1+4ThXZRzrMhF5xazK8k4ANaUhMdjmRa6arXtqBcXIyUvu//5e80nlXekqMKaW7f5wrLNiKZB+ck7ayGlI1NYLNQ5nCWC6Xxe6s="
  secret_access_key:
    secure: "Jn9clQh78C2c1zoueTkn0r5kSCHrbb7bMojb8/Ne+6zg0pD/3w25mrhEC4y9b3M/lHoKArOPj4dn03ZErJleM8aOMNMIa6ck8GKP+7EoFlZ/1/C5733HazlldTWDd2+wTOYfSIGOM+mHDP5tmK0S7pr1zEm+/++UExuGZXiCSSI="
  bucket: travis-build-examples
  local-dir: examples
  skip-cleanup: true
  endpoint: travis-build-examples.s3-website-us-east-1.amazonaws.com
  region: us-east-1
  on:
    branch: master
    condition: $INTEGRATION_SPECS == 1
    repo: travis-ci/travis-build

notifications:
  slack:
    rooms:
      - secure: "b/ZO/Dx63fWhYxnL++tZszwk285fSUjLeo99S1GZ+epo1W6Ea/XXX1M+rhqQxdSbK4JfyLtQQpuc/DOGf1Wk3GjSqJo7g7HA11kLfwPZDvfGSvBJ6Bh3VhtOI/OLLGXjeFkPidtesYqJiWaiECvpBe6dYTgS9e5AhwU7uoUnX7s="
