language: ruby

cache:
  branch: md5deep
  bundler: true

sudo: false

env:
  global:
  - RUBYOPT='-W0'
  - COVERAGE=1
  matrix:
  - INTEGRATION_SPECS=0
  - INTEGRATION_SPECS=1

matrix:
  include:
    - sudo: required
      dist: trusty
      env:
      script:
        - docker build -t travis-build .
        - docker run -d -it -p 5000:5000 -e PORT=5000 travis-build
        - sleep 10
        - e=0; for f in example_payloads/*.json; do echo ${f##*/}; curl -sf -X POST -d @$f localhost:5000/script >/dev/null || let e=$e+1; done; test $e -eq 0

script:
  - bundle exec rake
  - e=0; for f in examples/*.sh.txt; do echo "checking bash syntax $f"; bash -n $f || let e=$e+1; done; test $e -eq 0

after_success: bundle exec codeclimate-test-reporter

before_deploy: ruby script/build_s3_index_html.rb

deploy:
  provider: s3
  access_key_id:
    secure: bxFEFpuTK00a/ZKQJK9B3ausZweNSd5ZmaeKSk9ozSkaXtqIQEt56C3hlq62PEyltXnnZhirbtYjw9QIrgggMhupKQCkwXEB7l/zgq/y9BDjDNZK8PW2YsJUkLIM5K3hITbW2zgWLJX7zic9W0EHQdoSZ7NW4FlNg47FlyIIJss=
  secret_access_key:
    secure: XZWMXcs2XxJwyQw/uEQbXNADwfzP7R5dGRzSrM8xvA6ErgIEh+ZcMuT7p7iPPWyaGUO9+MOTqM9HqdBcUuigGH4Vqn1e4MQ/LQsxAQWyuostzjuuo7k2q8OgOIXwcvg1+4LaVA4b4GQftw3lqkQ09Xa7yB/X8Y2/IlzpbbpB2YY=
  bucket: travis-build-examples
  local-dir: examples
  skip-cleanup: true
  endpoint: travis-build-examples.s3-website-us-east-1.amazonaws.com
  region: us-east-1
  on:
    branch: master
    condition: $INTEGRATION_SPECS == 1
